<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Класиране</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/ranking.css}">
</head>
<body class="steam-bg">

<div th:replace="~{navbar :: nav}"></div>

<div class="container">
    <h1>Класиране</h1>

    <!-- Показване на победителя само ако списъкът с класирани участници не е празен -->
    <div th:if="${!#lists.isEmpty(rankedPlayers)}">
        <h2>Победител: <span th:text="${rankedPlayers.get(0).user.username}"></span></h2>
    </div>

    <table>
        <thead>
        <tr>
            <th>Играч</th>
            <th>Точки</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${rankedPlayers}">
            <td th:text="${player.user.username}"></td>
            <td th:text="${player.score}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/games" class="btn">Назад към игрите</a>
</div>
</body>
</html>
